services:
  nats:
    image: nats
    ports:
      - "8222:8222"
    command: "--cluster_name NATS --cluster nats://0.0.0.0:6222 --http_port 8222 "
    networks: ["pipeline"]
  nats-1:
    image: nats
    command: "--cluster_name NATS --cluster nats://0.0.0.0:6222 --routes=nats://ruser:T0pS3cr3t@nats:6222"
    networks: ["pipeline"]
    depends_on: ["nats"]
  nats-2:
    image: nats
    command: "--cluster_name NATS --cluster nats://0.0.0.0:6222 --routes=nats://ruser:T0pS3cr3t@nats:6222"
    networks: ["pipeline"]
    depends_on: ["nats"]

  memcached:
    image: memcached:1.6.39-alpine
    command:
      - --conn-limit=1024
      - --memory-limit=64
      - --threads=4
      - -p 11211
    networks: ["pipeline"]

  question-api:
    build: ./question-api
    ports:
      - "8000:8000"
    depends_on:
      - nats
      - memcached
    networks: ["pipeline"]
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - MEMCACHE_HOST=memcached
      - MEMCACHE_PORT=11211
      - NATS_HOST=nats
      - NATS_PORT=4222
      - NATS_DB_QUERY_TOPIC=${NATS_DB_QUERY_TOPIC:-db-query}
      - NATS_ANSWER_TOPIC=${NATS_ANSWER_TOPIC:-answer}
    
  query-service:
    build: ./query-service
    depends_on:
      - nats
    networks: ["pipeline"]
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - NATS_HOST=nats
      - NATS_PORT=4222
      - NATS_DB_QUERY_TOPIC=${NATS_DB_QUERY_TOPIC:-db-query}

  answer-service:
    build: ./answer-service
    depends_on:
      - nats
    networks: ["pipeline"]
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - NATS_HOST=nats
      - NATS_PORT=4222
      - NATS_ANSWER_TOPIC=${NATS_ANSWER_TOPIC:-answer}

networks:
  pipeline:
    name: pipeline