services:
  nats:
    image: nats
    ports:
      - "8222:8222"
    command: "--cluster_name NATS --cluster nats://0.0.0.0:6222 --http_port 8222 "
    networks: ["pipeline"]

  memcached:
    image: memcached:1.6.39-alpine
    networks: ["pipeline"]

  question-api:
    build: ./question-api
    ports:
      - "8000:8000"
    depends_on:
      - nats
      - memcached
    networks: ["pipeline"]
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - MEMCACHE_HOST=memcached
      - MEMCACHE_PORT=11211
      - NATS_HOST=nats
      - NATS_PORT=4222
      - NATS_DB_QUERY_TOPIC=db-query
      - NATS_ANSWER_TOPIC=answer

  query-service:
    build: ./query-service
    depends_on:
      - nats
    networks: ["pipeline"]
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - NATS_HOST=nats
      - NATS_PORT=4222
      - NATS_DB_QUERY_TOPIC=db-query
      - KUZU_DB_PATH=/database/nobel.kuzu
    volumes:
      - kuzu_db:/database:rw

  answer-service:
    build: ./answer-service
    depends_on:
      - nats
    networks: ["pipeline"]
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - NATS_HOST=nats
      - NATS_PORT=4222
      - NATS_ANSWER_TOPIC=answer

  explorer:
    image: kuzudb/explorer:0.11.1
    environment:
      - MODE=READ_ONLY
      - KUZU_FILE=/database/nobel.kuzu
    ports:
      - "8001:8000"
    volumes:
      - kuzu_db:/database:ro
    networks: ["pipeline"]
    depends_on:
      - query-service

volumes:
  kuzu_db:

networks:
  pipeline:
    name: pipeline
